body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#game {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 1px;
}
.cell {
    width: 40px;
    height: 40px;
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
    cursor: pointer;
}